STEAM_LOGIN=anonymous
STEAM_PASS=

PUID=1000
PGID=1000

PORT=7777
QUERYPORT=7778
MULTIHOME=0.0.0.0

SERVER_NAME=My Windrose Server
SERVER_NOTE=
SERVER_PASSWORD=
MAX_PLAYERS=4
INVITE_CODE=
P2P_PROXY_ADDRESS=127.0.0.1

UPDATE_ON_START=true
GENERATE_SETTINGS=true
FIRST_RUN_TIMEOUT=120
