IMAGE_REPOSITORY=ghcr.io/mrguato/windrose-dedicated-server
IMAGE_TAG=latest

CONTAINER_NAME=windrose
HOSTNAME_OVERRIDE=windrose

PUID=1000
PGID=1000

STEAM_LOGIN=anonymous
STEAM_PASS=
WINDROSE_APP_ID=4129620
UPDATE_ON_START=true
GENERATE_SETTINGS=true

SERVER_NAME=MrGuato Windrose Server
SERVER_NOTE=
SERVER_PASSWORD=
MAX_PLAYERS=4
INVITE_CODE=
P2P_PROXY_ADDRESS=127.0.0.1

PORT=7777
QUERYPORT=7778
MULTIHOME=0.0.0.0

WINEARCH=win64
WINEPREFIX=/home/steam/.wine
